streamlit>=1.51.0
pandas
numpy
Pillow
fpdf
matplotlib
gspread
google-auth
xlsxwriter
openpyxl
requests
plotly
# --- LIBRERÍAS VISUALES CORREGIDAS ---
streamlit-drawable-canvas>=0.9.3
streamlit-image-annotation==0.7.2
