streamlit==1.38.0
pandas==2.3.3
numpy==2.3.4
Pillow==11.3.0
fpdf==1.7.2
openpyxl==3.1.5
xlsxwriter==3.2.0
gspread==6.2.1
google-auth==2.41.1
google-auth-oauthlib==1.2.3
requests==2.32.3
streamlit-drawable-canvas==0.9.3
matplotlib==3.10.7
